{{ attach_library('nitflex_theme/movie-card-collection') }}

<div class="movie-card-collection
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  {% block collection %}
    {% for item in items %}
      {% include '@nitflex_theme/movie-card/movie-card.twig' with {
        cover_image: item.cover_image,
        heading: item.heading,
        mpaa_rating: item.mpaa_rating,
        average_rating: item.average_rating,
        synopsis: item.synopsis
      }
    %}
    {% endfor %}
  {% endblock %}
</div>