// Type
//
// Custom fonts are loaded via JavaScript provided by fonts.com.
//
// Markup:
// <h3>Base</h3>
// <h4>font-stack-base</h4>
// <div style="font: 20px/2 'Neue Haas Grotesk W01 Disp'"> Neue Haas Grotesk™ W01 Text 55 Roman </div>
// <div style="font: italic 20px/2 'Neue Haas Grotesk W01 Disp'"> Neue Haas Grotesk™ W01 Text 56 Italic </div>
// <div style="font: 500 20px/2 'Neue Haas Grotesk W01 Disp'"> Neue Haas Grotesk™ W01 Text 65 Medium </div>
// <div style="font: bold 20px/2 'Neue Haas Grotesk W01 Disp'"> Neue Haas Grotesk™ W01 Text 75 Bold </div>
// <div style="font: bold italic 20px/2 'Neue Haas Grotesk W01 Disp'"> Neue Haas Grotesk™ W01 Text 76 Bold Italic </div>
// <h3>Secondary</h3>
// <h4>font-stack-secondary</h4>
// <div style="font: 20px/2 'Neue Haas Grotesk W01'"> Neue Haas Grotesk™ W01 Display 45 Light </div>
// <div style="font: italic 20px/2 'Neue Haas Grotesk W01'"> Neue Haas Grotesk™ W01 Display 46 Light Italic </div>
// <div style="font: 500 20px/2 'Neue Haas Grotesk W01'"> Neue Haas Grotesk™ W01 Display 55 Roman </div>
// <div style="font: bold 20px/2 'Neue Haas Grotesk W01'"> Neue Haas Grotesk™ W01 Display 56 Italic </div>
// <div style="font: bold italic 20px/2 'Neue Haas Grotesk W01'"> Neue Haas Grotesk™ W01 Display 65 Medium </div>
// <h3>Tertiary</h3>
// <h4>font-stack-tertiary</h4>
// <div style="font: 20px/2 'Minion W01'"> Minion® W01 Bold </div>
// <div style="font: italic 20px/2 'Minion W01'"> Minion® W01 Bold Italic </div>
// <div style="font: bold 20px/2 'Minion W01'"> Minion® W01 Italic </div>
// <div style="font: bold italic 20px/2 'Minion W01'"> Minion® W01 Regular </div>
//
// Weight: 999
//
// Style guide: Type

@mixin font-stack-base {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

@mixin font-stack-secondary {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-x-bold: 900;
$font-italic: italic;
