// Import site utilities.
@import '../../00-global/base/utils/init';

.body-text {
  margin: 0 auto;
  max-width: $content-width;
  padding: 20px;

  @include breakpoint($bp-sm) {
    padding: 40px;
  }

  p {
    font-size: 2.0rem;
    line-height: 1.5;
    margin-bottom: 36px;
  }
}
