// Typography
//
// Custom fonts are loaded via Google fonts.
//
// Markup:
// <h2>Base</h2>
// <p><code>font-stack-base</code></p>
// <div style="font: 20px/2 'Open Sans'"> Open Sans</div>
// <div style="font: italic 20px/2 'Open Sans'"> Open Sans italic</div>
// <div style="font: 700 20px/2 'Open Sans'"> Open Sans </div>
// <div style="font: 700 italic 20px/2 'Open Sans'"> Open Sans italic </div>
// <hr />
// <h2>Secondary</h2>
// <p><code>font-stack-secondary</code></p>
// <div style="font: 20px/2 'Montserrat'"> Montserrat</div>
// <div style="font: italic 20px/2 'Montserrat'"> Montserrat italic</div>
// <div style="font: 700 20px/2 'Montserrat'"> Montserrat Bold</div>
// <div style="font: 700 20px/2 'Montserrat'"> Montserrat Bold italic</div>
// <div style="font: 900 20px/2 'Montserrat'"> Montserrat Black </div>
// <div style="font: 900 italic 20px/2 'Montserrat'"> Montserrat Black italic</div>
//
// Weight: 999
//
// Style guide: General.typography

@mixin font-stack-base {
  font-family: 'Helvetica Neue', Helvetica, 'HelveticaNeue-Light', 'Helvetica Neue Light', Arial, 'Lucida Grande', sans-serif;
   font-weight: 300;
}

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-x-bold: 800;
$font-italic: italic;
