// Eyebrow
//
// This is the eyebrow component.
//
// Markup: eyebrow.twig
//
// Style guide: Components.Eyebrow

// Import site utilities.
@import '../../global/utils/init';

.eyebrow {
 display: inline-block;
 letter-spacing: 0.15rem;
 line-height: 1;
 text-transform: uppercase;
 white-space: nowrap;
}
