{{ attach_library('shiny/hero') }}

<section class="hero">
  <div class="hero__media">
    {{ image }}
  </div>
  <div class="hero__content">
    {% if heading %}
      {%
        include '@shiny/heading/heading.twig'  with {
          "title": heading.title,
          "url": "#",
          "heading_level": 1,
          "classes": 'hero__heading',
        } only
      %}
    {% endif %}

    {% if subheading %}
      {%
        include '@shiny/heading/heading.twig'  with {
          "title": subheading.title,
          "heading_level": 2,
          "classes": 'hero__subheading',
        } only
      %}
    {% endif %}

    {% if teaser %}
      {{ teaser }}
    {% endif %}

    {% if watch_button or add_button %}
      <div class="hero__ctas">
        {%
          include '@shiny/button/button.twig'  with {
            "button": watch_button,
            "classes": 'button--primary',
          } only
        %}
        {%
          include '@shiny/button/button.twig'  with {
            "button": add_button,
          } only
        %}
      </div>
    {% endif %}
  </div>
</section>
