// Styling for syntax highlighting.
// Repurposed from Rainbow.js (http://rainbowco.de)

.kss-syntax-wrapper {

  pre {
    background-color: $color-kss-x-light;
    border: 1px solid $color-kss-dark;
    color: $color-kss-dark;
    display: block;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    overflow: auto;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
  }

  pre code {
    white-space: pre-wrap;
  }

  pre .comment {
    color: $color-kss-mid;
  }

  pre .support {
    color: $color-kss-blue;
  }

  pre .tag,
  pre .tag-name {
    color: $color-kss-navy;
  }

  pre .keyword,
  pre .css-property,
  pre .vendor-prefix,
  pre .sass,
  pre .class,
  pre .id,
  pre .css-value,
  pre .entity.function,
  pre .storage.function {
    font-weight: bold;
  }

  pre .css-property,
  pre .css-value,
  pre .vendor-prefix,
  pre .support.namespace {
    color: $color-kss-dark;
  }

  pre .constant.numeric,
  pre .keyword.unit,
  pre .hex-color {
    font-weight: normal;
    color: $color-kss-mid;
  }

  pre .entity.class {
    color: $color-kss-violet;
  }

  pre .entity.id,
  pre .entity.function {
    color: $color-kss-red;
  }

  pre .attribute,
  pre .variable {
    color: $color-kss-teal;
  }

  pre .string,
  pre .support.value {
    font-weight: normal;
    color: $color-kss-rose;
  }

  pre .regexp {
    color: $color-kss-green;
  }
}
