// Featured Movie
//
// This is the featured movie component.
//
// Markup: featured-movie.twig
//
// Style guide: Components.Featured Movie

// Import site utilities.
@import '../../global/utils/init';

.featured-movie {
  background: $color-black;
  position: relative;

  img {
    display: block;
  }
}

.featured-movie__cover-image {
  @include clearfix;

  img {
    float: right;
  }
}

.featured-movie__meta {
  color: $color-white;
  left: 75px;
  position: absolute;
  top: 35%;
}

.featured-movie__ctas {
  margin-top: 40px;
}
