// Button
//
// This is the button component.
//
// Markup: button.twig
//
// .button--primary - A button variation with strong styles.
//
// Style guide: Components.Button

// Import site utilities.
@import '../../global/utils/init';

.button,
button {
  background: transparent;
  border: 2px solid #000000;
  border-radius: 44px;
  color: #000000;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  text-decoration: none;
  transition: border 0.125s ease, background 0.125s ease;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: #000000;
    color: #f5f5f1;
  }

  // Updates color and other styles for primary button.
  &.button--primary {
    border-color: #e50914;
    color: #e50914;

    &:hover,
    &:focus {
      background: #e50914;
      color: #ffffff;
    }
  }
}
