// Add to Favorites Button
//
// This is the Add To Favorites component.
//
// .add-to-favorites--added - Button in "added" state.
//
// Markup: add-to-favorites.twig
//
// Style guide: Components.Add To Favorites

// Import site utilities.
@import '../../global/utils/init';

.add-to-favorites {

  // Hide Drupal throbber.
  > div {
    display: none;
  }
}

.add-to-favorites__link {
  background-color: $color-black;
  border: 2px solid $color-white;
  border-radius: 50px;
  color: $color-white;
  display: inline-block;
  font-size: 1rem;
  height: 0;
  line-height: 1;
  overflow: hidden;
  padding: 30px 0 0;
  position: relative;
  width: 34px;

  &::after,
  &::before {
    @include center-align(absolute);
    background-color: $color-white;
    content: '';
    display: block;
    height: 20px;
    width: 3px;
  }

  &::after {
    height: 3px;
    width: 20px;
  }

  &:focus::before,
  &:hover::before {
    left: auto;
    right: 11px;
    top: 4px;
    transform: rotate(36deg);
  }

  &:focus::after,
  &:hover::after {
    left: 4px;
    transform: rotate(50deg);
    width: 10px;
  }
}

.add-to-favorites--added .add-to-favorites__link {
  background-color: $color-pacific-blue;
  border-color: $color-pacific-blue;

  &::before {
    left: auto;
    right: 11px;
    top: 4px;
    transform: rotate(36deg);
  }

  &::after {
    left: 4px;
    transform: rotate(50deg);
    width: 10px;
  }
}
